.listPosts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr !important;
        & > div{
            grid-column: span 5 !important;
        }
    }

    & > div:first-child{
        grid-column: span 2;
    }
}