@import "styles/variables";

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    gap: 30px;

    @media (max-width: 768px){
        flex-direction: column;

        p{
            text-align: center;
        }
    }

    p{
        color: $border;
    }
}