@import "styles/variables";

.img{
    width: 100%;
    
    > * {
        position: initial !important;
    }
    
    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}
.post{
    position: relative;
    
    &__thumb{
        border-radius: 10px;
        overflow: hidden;
        img{
            transition: all .2s;
            width: 100%;
        }
        
        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
    &__category{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 13px;
        background-color: $bg;
        padding: 1px 10px;
        border-radius: 5px;
        color: #fff;
    }
    &__title{
        margin: 20px 0;
        font-size: 19px;
        line-height: 24px;
        color: #fff;
        &:hover{
            color: $laranja;
            text-decoration: underline;
        }
    }
    &__description{
        color: rgb(134, 134, 134);
        font-size: 18px;
        line-height: 30px;
    }
}