@import "styles/variables";

.nav{
    padding-top: 50px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: fit-content;
        }

        ul{
            li{
                display: inline;
                margin-left: 1rem;
            }
        }
    }
}